[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pycryptodome = "*"
pytest = "*"
pytest-subtests = "*"
pdbpp = "*"
dataclasses = "*"

[dev-packages]

[requires]
python_version = "3.6"
